.group {
  text-align: center;
  padding: 10px 0 10px 0;
}
.logoLogin {
  display: inline-flex;
}

.btn {
  margin: 5px 1% 0 1%;
  color: black;
  margin-bottom: 0;
}

.card {
  margin: 0 2% 0 2%;
}

.middleArea {
  background-image: url("./dog.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}
.title {
  color: white;
  margin: 60px 0 200px 0;
  background: rgb(72, 72, 72, 0.3);
}
#titleQuote {
  text-shadow: 2px 2px 2px rgba(64, 64, 64, 0.8);
  font-size: 35px;
}
.title p {
  margin-top: 30px;
}
.middleCards {
  display: inline-flex;
}
.petFact {
  color: white;
  margin: 0 0 50px 0;
  height: 100%;
  background: rgb(72, 72, 72, 0.3);
}
.petFact p {
  margin-top: 10px;
}
#title-p-fact {
  font-size: 28px;
  border-bottom: 1px solid white;
  text-shadow: 2px 2px 2px rgba(64, 64, 64, 0.8);
}
