html,
body {
  width: 100%;
  overflow-x: hidden;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.middleArea {
  background-image: url("../images/dog.JPG");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.title {
  color: white;
  margin: 100px 10px 50px 10px;
  padding: 10px;
  background: rgb(72, 72, 72, 0.3);
}
#titleQuote {
  text-shadow: 2px 2px 2px rgba(64, 64, 64, 0.8);
  font-size: 35px;
}
.petFact {
  color: white;
  margin: 0 10px 50px 10px;
  height: 100%;
  background: rgb(72, 72, 72, 0.3);
}
.petFact p {
  margin-top: 10px;
}
#title-p-fact {
  font-size: 28px;
  border-bottom: 1px solid white;
  text-shadow: 2px 2px 2px rgba(64, 64, 64, 0.8);
}
.navbar {
  padding: 0;
}
.loginMobile {
  position: absolute;
  top: 20px;
  right: 10px;
}
.logoLogin {
  display: none;
}
.logoLogin a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.group button {
  margin: 0;
  text-align: center;
  display: none;
}
.full {
  background-color: white;
  position: fixed;
  z-index: 99;
  width: 100%;
  display: block;
  text-align: center;
}
.full li {
  list-style-type: none;
}
.full > :nth-child(2) {
  padding-top: 50px;
}
.full > :nth-child(8) {
  padding-bottom: 20px;
}
.full span {
  float: right;
  padding: 10px;
}
.titleSection {
  display: inline-flex;
}
.titleSection h3 {
  padding-left: 25px;
}
#ham {
  margin-top: 20px;
}
.middleCards .card:not(:first-child) {
  margin-top: 10px;
}

@media screen and (min-width: 992px) {
  .loginMobile {
    display: none;
  }
  .title {
    margin-bottom: 50px;
  }

  #ham {
    display: none;
  }
  .loginMobile i {
    display: none;
  }
  .group {
    text-align: center;
    padding: 10px 0 10px 10%;
    display: inline-flex;
  }

  .group button {
    margin: 0;
    text-align: center;
    display: inline-flex;
  }
  .logoLogin {
    display: inline-flex;
  }
  .logoLogin a {
    margin-left: 50%;
  }

  .btn {
    margin: 5px 1% 0 1%;
    color: black;
    margin-bottom: 0;
  }

  .card {
    margin: 0 2% 0 2%;
  }

  .title p {
    margin-top: 30px;
  }
  .middleCards {
    display: inline-flex;
  }

  /* //login page */

  .loginContainer {
    width: 35%;
    margin-left: 32.5%;
    border-radius: 10px;
    text-align: center;
    color: black;
    background-color: white;
    box-shadow: 5px 10px 8px #888888;
  }
  .signInTitle {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    padding: 9px 0 9px 0;
    color: white;
    background-color: rgb(72, 72, 72, 0.9);
    width: 100%;
  }
  #loginForm {
    padding: 20px 0 100px 0;
    width: 60%;
    margin-left: 20%;
    font-size: 20px;
    text-align: left;
  }
  #loginForm input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  #loginForm input[name="submit"] {
    margin-top: 10px;
    width: 50%;
    margin-left: 25%;
  }
  .loginSectionBody {
    padding-top: 100px;
    padding-bottom: 200px;
    background-color: rgb(72, 72, 72, 0.1);
  }
}
